@import "../assets/pubilc.scss";
/*.test{
  height: 10px/$ppr;
  @include toRem(width, 100);
  @include toRem(margin, 100,10,20,30);
  background-color: black
}*/
.invest_info{
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  background-color: white;
  height: 10rem;
  margin-top: 0.6rem;
  color: $fontColor;
  .title{
    border-bottom:  0.1rem solid $border;
    line-height:  2.5rem;
    margin: 0  1rem;
    color: $fontColor;
  }
  .info{
    margin:  1rem;
    .info_a{
      font-size: 1.4rem;
    }
    .info_b{
      font-size: 1.8rem;
      padding-top: 1.4rem;
      white-space: nowrap;
      .info_rate{
        color: $red;
      }
      .info_date{
        color: $fontColor;
      }
      .info_time{
        em{
          display: block;
          font-size: 1rem;
          line-height: 1rem;
          background-color: $blue;
          width: 1.4rem;
          color: white;
          font-style: normal;
          text-align: center;
          float: right;
          margin-left: 0.4rem;
          font-size: 0.8rem;
        }
      }
      span{
        display: block;
        float: left;
        height: 2rem;
        line-height: 2rem;
        margin: 0px;
        padding: 0px;
        width: 28%;
        text-align: center;
        white-space: nowrap;
        &:last-child{
          width: 44%;
        }
        small{
          font-size: 0.8rem;
        }
      }
    }
  }
}

.team{
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  background-color: white;
  margin-top: 0.6rem;
  color: $fontColor;
  margin-bottom: 6rem;
  .title{
    border-bottom:  1px solid $border;
    line-height:  2.5rem;
    margin: 0  1rem;
    color: $fontColor;
  }
  .team_flex{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    .column{
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      .item{
        height: 5rem;
        width: 100%;
        border: 1px solid rebeccapurple;
        &:hover{
          border: 1px solid red;
        }
      }
    }
  }
}

.foot_fixed { background-color: $bgColor;height: 5rem; position: fixed; z-index: 99; left: 0; bottom: 0; width: 100%; min-height: 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; overflow: hidden;}
